# -------------------------------
# Simulation (Python)
# -------------------------------

UAV_Traffic/scripts/__pycache__/
UAV_Traffic/results

# -------------------------------
# Backend (Python / FastAPI)
# -------------------------------

## Backend
backend/node_modules
backend/.env

# -------------------------------
# Frontend (Node.js / React/Vite)
# -------------------------------
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.npm/
frontend/.pnpm-store/
frontend/.env
frontend/*.log

# -------------------------------
# Common (IDE / OS)
# -------------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db

